# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/

# IDE / editor files
.vscode/
.vs/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Rider / Visual Studio
*.sln
*.csproj
*.userprefs

# Keep Unity meta files
!*.meta